In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib tk

In [12]:
data = pd.read_csv('./data.csv', sep=',', header=-1, names=['sinal', 'sensor'])
data.head(3)

   sinal  sensor
0    310     430
1    310     426
2    310     426

In [15]:
t = np.arange(0, data['sinal'].size)
t = t * 10;
t = t/1000;

In [16]:
data.describe()

             sinal       sensor
count  7694.000000  7694.000000
mean    518.214193   329.609436
std     246.499176    91.271746
min     310.000000    21.000000
25%     310.000000   295.000000
50%     310.000000   352.000000
75%     810.000000   389.000000
max     810.000000   517.000000

In [21]:
data.index = data.index/100;

In [22]:
data.plot()
plt.xlabel('Tempo (s)')
plt.ylabel('Sensor')
plt.title('Resposta do sistema ao sinal binário aleatório')
plt.legend(loc=4)

In [7]:
plt.show()