In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from matplotlib import style
%matplotlib tk

In [2]:
data = pd.read_csv('./ganho 1.01 realimentado.csv', sep=',', header=-1, names=['sinal', 'sensor'])
data.head(3)

   sinal  sensor
0    459     375
1    459     371
2    459     371

In [3]:
t = np.arange(0, data['sinal'].size)
t = t * 10;
t = t/1000;

In [4]:
data.describe()

             sinal       sensor
count  5550.000000  5550.000000
mean    483.730991   380.974234
std     135.634334   354.659246
min       0.000000    -9.000000
25%     439.000000    45.000000
50%     515.000000   252.000000
75%     584.000000   718.750000
max     698.000000  1056.000000

In [5]:
data.index = data.index/100;

In [19]:
data.plot()
plt.xlabel('Tempo (s)')
plt.ylabel('Sensor')
plt.title('Resposta do sistema realimentado com ganho 1,01')
plt.legend(loc=4)

In [17]:
plt.show()

In [8]:
style.available

['seaborn-bright',
 'seaborn-paper',
 'seaborn-white',
 'classic',
 'ggplot',
 'seaborn-muted',
 'seaborn-dark',
 'seaborn-notebook',
 'seaborn-ticks',
 'grayscale',
 'seaborn-deep',
 '_classic_test',
 'seaborn-poster',
 'bmh',
 'seaborn',
 'dark_background',
 'seaborn-colorblind',
 'seaborn-darkgrid',
 'seaborn-talk',
 'seaborn-pastel',
 'fivethirtyeight',
 'seaborn-whitegrid',
 'seaborn-dark-palette']

In [18]:
style.use('seaborn-darkgrid')

/home/andrioli/anaconda3/lib/python3.6/site-packages/matplotlib/pyplot.py:524: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)