In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib notebook

In [5]:
serie = pd.read_csv('./data_log_2017_09_20_23_20_41.csv')
serie.head()

   error   control
0     45        45
1     91        91
2     57        57
3     53        53
4     44        44

In [8]:
type(serie)

pandas.core.frame.DataFrame